.venv
actors/wish.png
actors/kq.png
actors/eq.png
actors/*/*.png
actors/*/std
actors/*/*.txt
actors/*/actor.json
actors/*/actor.html
events/*/*.png
images/
prototyping/
__pycache__/
ss*.png
target.png
tasks.png