.console {
    background-color: #333;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 6px;
}

.fa-2 {
    font-size: 2em
}
.fa-3 {
    font-size: 3em
}
.fa-4 {
    font-size: 4em
}
.fa-5 {
    font-size: 5em
}
