{% extends "base.html" %}
{% block title %}Actors - Dmk{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<main role="main" class="container">
<div class="container">
    <div class="row align-items-start justify-content-between">
        <div class="col-8">
            {{actors|length}} total actors,
            {{counts['Wish']}} <i class="fa fa-birthday-cake"></i> (wish{{'es' if counts['Wish'] != 1 else ''}}) pending
            {%- if counts['Kq'] > 0 %}, <span class="text-warning fw-bold">{{counts['Kq']}} <i class="fa fa-shield"></i> (Kingdom Quest)</span>{% endif %}
            {%- if counts['Eq'] > 0 %}, <span class="text-warning fw-bold">{{counts['Eq']}} <i class="fa fa-file-text-o"></i> (Event Quest)</span>{% endif %}
            {%- if counts['Skip'] > 0 %}, <span class="text-warning fw-bold">{{counts['Skip']}} <i class="fa fa-forward"></i> (skip)</span>{% endif %}
            {%- if counts['Pause'] > 0 %}, <span class="text-danger fw-bold">{{counts['Pause']}} <i class="fa fa-pause"></i> (pause)</span>{% endif %}
        </div>
        <div class="col-2">
            <form action="{{ url_for('main.index') }}" method="POST">
                <button class="btn {{'btn-secondary' if paused else 'btn-success'}}" name="pause" value="0" type="submit">
                    <i class="fa fa-play"></i> Run
                </button>
                <button class="btn {{'btn-warning' if paused else 'btn-secondary'}}" name="pause" value="1" type="submit">
                    <i class="fa fa-pause"></i> Pause
                </button>
            </form>
        </div>
        <div class="col-2">
            <a href="{{ url_for('main.index') }}">Return to home</a>
        </div>
    </div>
</div>
<table class="table table-hover"><tbody>
{% for a in actors %}
    <tr class='clickable-row' data-href="{{ url_for('actors.actorTasks', actor_id=a.id) }}">
        <td>
            <img src="{{ url_for('actors.actorPortrait', actor_id=a.id) }}" loading="lazy" style="height: 76px; object-fit: none;">
        </td>
        <td>
            <a id="{{a.id}}"></a>
            <h4>{{a.name}}</h4>
            <form action="{{ url_for('actors.index', _anchor=a.name) }}" method="POST">
                <input type="hidden" name="actor_id" value="{{a.id}}"/>
                {% include "actor-fileop-btns.html" %}
            </form>
        </td>
        <td>
            {% if a.hasTarget %}<img src="{{ url_for('actors.actorTaskImg', actor_id=a.name, fname=a.target) }}" loading="lazy">{% else %}None{% endif %}
        </td>
    </tr>
{% endfor %}
</tbody></table>
</main>
{% endblock %}
{% block footer %}
<script>
    $(function() {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
